.product-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-heading {
    font-size: 4em;
    font-weight: lighter;
}

.customer-heading {
    font-size: 4em;
    font-weight: lighter;
}

.product-paragraph {
    font-size: 1.5em;
}

#product-card-height {
    height: fit-content;
    /* height: 18em; */
}

#product-search {
    padding: 10px;
    font-size: 1em;
    outline: none;
    border-radius: 10px;
    width: 20em;
    border: none;
}

#product-search-span {
    display: flex;
    padding: 2%;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid #2c2c2c;
}

#card-img-enhanced {
    width: 100%;
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.login-card {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    padding: 2rem;
}

.login-card h3 {
    font-weight: 700;
    text-align: center;
    color: #212529;
    margin-bottom: 1.5rem;
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, .25);
}

.login-btn {
    width: 100%;
    border-radius: 8px;
}

.extra-links {
    text-align: center;
    margin-top: 1rem;
}

.extra-links a {
    text-decoration: none;
    color: #0d6efd;
}

.extra-links a:hover {
    text-decoration: underline;
}

.custom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}