{% extends "accounts/main.html" %}

{% block content %}

<div class="container">
    <main>
        <div class="container-fluid">
            <h1>Customers Lists</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Status</th>
                        <th>Products</th>
                    </tr>
                </thead>
               
                <tbody>
                    <tr>
                        <td>{{customer.name}}</td>
                        <td>{{customer.phone_number}}</td>
                        <td>{{customer.status}}</td>
                        <td>{{customer.products.title}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </main>
</div>

{% endblock %}